.container {
  max-width: 1050px;
  margin: 0 auto;
  }

nav {
  list-style: none;
  margin-left: 15px;
  padding: 0;
  background: black;
  font-size: 14pt;
}

.banner {
  background-image: url(banner.jpg);
  width: 2042px;
  height: 240px;
  position: relative;
  left: -385px;

  }

.main {
  background-color: #EDEDED;
  text-align: center;
}

.Answer {
  font-size: 12pt;
  padding: 0pt;
  text-align: left;
  margin-right: 125pt;
  margin-left: 50pt;
}
.header {
  font-size: 18pt;
  padding: 25pt;
  font-family: roboto slab
}

.footer {
  background-color: #3D3D3D;
  color: lightgrey;
  text-align: center;
  height: 75px;
  vertical-align: bottom;
}