// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";
@import "bourbon";
@import "font-awesome";

$accent-color: #8FBC8F;
$font-title: 'Play', sans-serif;
$font-content: 'Syncopate', sans-serif;

// index formatting
html {
  height: 100%;
  }
  body {
 // @include linear-gradient(to top, #DCDCDC, #98F5FF);
  background : url("https://images.unsplash.com/photo-1443557661966-8b4795a6f62c?ixlib=rb-0.3.5&q=80&fm=jpg&w=1080&fit=max&s=90c9b93842dc0e7f838e81f6b1116852") ;
 // background-repeat: no-repeat;
  @include linear-gradient(to right, black, black, #3D3D3D, grey, #3D3D3D,  black);
  min-height: 100%;
}
.top-title {
  font-family: $font-title;
  margin-left: 14px;
  color: white;
}

.top-title span {
  color: $accent-color;
}
.top-bar {
  border-top: 2px solid $accent-color;
  border-bottom: 2px solid $accent-color;
  opacity: 1.0;
  margin-bottom: 15px;

}
.top-bar a {
  height: 40px;
  font-family: $font-title;
}
.fa-twitter, .fa-linkedin-square, .fa-envelope {
  float: right;
  margin: 13px;
  color: $accent-color;
  font-size: 85%;
}

// Home Formatting
.homecontainer {
  background : url("https://images.unsplash.com/photo-1443557661966-8b4795a6f62c?ixlib=rb-0.3.5&q=80&fm=jpg&w=1080&fit=max&s=90c9b93842dc0e7f838e81f6b1116852") ;
  background-repeat: no-repeat;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  border-radius: 5px;

  }
  .homecontainer h2{
  color: white;
  font-family: $font-content;
  height: 700px;
  //padding: 0pt;
  //margin-left: 20pt;
  //background-color: blue;
  opacity: 0.5;
  //max-width: 450pt;
  //text-align: center;
}
.homecontainer span {
  color: $accent-color;
}


// Contact Page Formatting
.contact-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  text-align: center;
  border: 2px solid $accent-color;
  opacity: 0.9;
  @include linear-gradient(to top, #2a200a, #3f3c48);
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0px;
  border-radius: 10px;
  textarea {
    height: 100px;
  }
}
  
.contact-form h3 {
    color: white;
    font-family: $font-title;
    font-size: 1.9em;
    span {
      color: white;
    }
}
  button {
    background-color: $accent-color;
    color: black;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    padding: 5px;
}
.contact-form p {
  color: white;
}
//About Page
.about-container {
  
  width: 1170px;
  height: 100%;
  @include linear-gradient(to top, #171717, #3B3B3B);
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  padding: 25px;
}
.about-left {
  max-width: 500px;
  color: white;

  
}
hr {
  color: $accent-color;
  border: 1px solid $accent-color;
}
.about-right {
  color: white;
  
  float: right;
  display: inline;
}
.about-right img{
  
  max-width: 450px;
  border-radius: 40px;
  
}
.about-right h5 {
  color: $accent-color;
}
ul {
    
}
.about-left li {
  list-style: none;
  margin-left: 10px;
}
.fa-wrench {
  color: $accent-color;
}
.list-container {
  color: white;
}
.single {
  color: white;
}












