body {
  background: #EEF3E2; }

p {
  font-family: "Source Code Pro"; }

a {
  font-family: "Source Code Pro"; }

h2 {
  font-family: "Source Code Pro"; }

.picture {
  float: right; }

.top-bar {
  height: 136pt;
  background-color: #7b797c;
  background-image: -webkit-linear-gradient(top, #7b797c, #7b797c, #605e61, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #BABABA);
  background-image: linear-gradient(to bottom,#7b797c, #7b797c, #605e61, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #BABABA);
  border-bottom: 1px solid green; }

.top-bar h1 {
  font-family: "Syncopate", sans-serif;
  color: green;
  font-size: 24pt; }

.name a {
  font-family: "Syncopate", sans-serif;
  color: green;
  font-size: 20pt; }

.hub {
  color: white;
  font-size: 36pt; }

.top-bar span {
  color: green;
  font-size: 36pt; }

.aboutMe {
  border-bottom: 1px solid green; }

.aboutMe h2 {
  font-family: "Source Code Pro";
  margin-left: 50pt;
  margin-top: 50pt;
  color: green; }

.aboutMe p {
  font-family: "Source Code Pro";
  margin-left: 50pt;
  margin-right: 150pt;
  color: green; }

.sidekick {
  display: inline-block;
  background: #EEE8CD;
  width: 100%;
  border-bottom: 1px solid green; }

.sidekickRight {
  max-width: 30%;
  float: right;
  display: inline-block;
  top: 100px;
  left: 50px;
  margin-top: 50pt;
  margin-right: 100pt;
  margin-bottom: 5pt; 
}

.sidekick h2 {
  font-family: "Source Code Pro";
  margin-top: 50pt;
  color: green; }

.sidekickText {
  max-width: 50%;
  float: left;
  margin-left: 50pt; }

.godfather {
  display: inline-block;
  background: #EEF3E2;
  width: 100%; 
  border-bottom: 1px solid green; 
}

.godfatherRight {
  max-width: 30%;
  float: right;
  display: inline-block;
  top: 100px;
  left: 50px;
  margin-top: 50pt;
  margin-right: 100pt;
  margin-bottom: 5pt; 
}

.godfather h2 {
  font-family: "Source Code Pro";
  margin-top: 50pt;
  color: green; }

.godfatherText {
  width: 50%;
  float: left;
  margin-left: 50pt; }

.album {
  margin-top: -5px;
  display: inline-block;
  background: #EEE8CD;
  width: 100%;
  border-bottom: 1px solid green; }

.albumRight {
  max-width: 30%;
  float: right;
  display: inline-block;
  top: 100px;
  left: 50px;
  margin-top: 50pt;
  margin-right: 100pt;
  margin-bottom: 5pt; 
}

.album h2 {
  font-family: "Source Code Pro";
  margin-top: 50pt;
  color: green; }

.albumText {
 max-width: 50%;
  float: left;
  margin-left: 50pt; }

.consulting {
  display: inline-block;
  background: #EEF3E2;
  width: 100%;
  border-bottom: 1px solid green; }

.consultingRight {
  max-width: 30%;
  float: right;
  display: inline-block;
  top: 100px;
  left: 50px;
  margin-top: 50pt;
  margin-right: 100pt;
  margin-bottom: 5pt; 
}

.consulting h2 {
  font-family: "Source Code Pro";
  margin-top: 50pt;
  color: green; }

.consultingText {
  max-width: 50%;
  float: left;
  margin-left: 50pt; }